[Unit]
Description=Telegram Bot
After=network.target

[Service]
EnvironmentFile={{ DOTENV_PATH }}
ExecStart=/usr/bin/python3 /srv/devops_bot/bot.py
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
